@model FileTaggerMVC.Models.FileViewModel

<script type="text/javascript">
    $(function () {
        $("#run").click(function (evt) {
            $.ajax({
                type: "GET",
                url: "/File/Run",
                data: "filePath=" + $(evt.target).data("filepath")
            });
        });
    });
</script>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @if (Model.Tags == null || !Model.Tags.Any()) 
            {
                <text>No tags.</text>
            }
            else
            {
                <table>
                    @foreach(var tag in Model.Tags.Where(t => t.Selected))
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(tag.Text, "ByTag", "Home", new { tagIds = tag.Value, description = tag.Text })
                            </td>
                        </tr>
                    }
                </table>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" })
</p>
<p>
    <a href="javascript:void(0)" data-filepath="@Model.FilePath" class="btn btn-danger" id="run">Run</a>
</p>