@model FileTaggerMVC.Models.FileViewModel

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @if (Model.Tags == null || !Model.Tags.Any()) 
            {
                <text>No tags.</text>
            }
            else
            {
                <table>
                    @foreach(var tag in Model.Tags.Where(t => t.Selected))
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(tag.Text, "ByTags", "Home", new { tagIds = tag.Value }, null)
                            </td>
                        </tr>
                    }
                </table>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" })
</p>
